LOCATE COMP "clk_12mhz" SITE "P6"; IOBUF PORT "clk_12mhz" IO_TYPE=LVCMOS33;
LOCATE COMP "clk" SITE "P6"; IOBUF PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "led7" SITE "P15"; IOBUF PORT "led7" IO_TYPE=LVCMOS33;
LOCATE COMP "led8" SITE "P16"; IOBUF PORT "led8" IO_TYPE=LVCMOS33;

LOCATE COMP "uart_rx" SITE "R16"; IOBUF PORT "uart_rx" IO_TYPE=LVCMOS33;
LOCATE COMP "uart_tx" SITE "R15"; IOBUF PORT "uart_tx" IO_TYPE=LVCMOS33;

LOCATE COMP "fifo_d[0]" SITE "R16"; IOBUF PORT "fifo_d[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "fifo_d[1]" SITE "R15"; IOBUF PORT "fifo_d[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "fifo_d[2]" SITE "T15"; IOBUF PORT "fifo_d[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "fifo_d[3]" SITE "R14"; IOBUF PORT "fifo_d[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "fifo_d[4]" SITE "T14"; IOBUF PORT "fifo_d[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "fifo_d[5]" SITE "R13"; IOBUF PORT "fifo_d[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "fifo_d[6]" SITE "T13"; IOBUF PORT "fifo_d[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "fifo_d[7]" SITE "R12"; IOBUF PORT "fifo_d[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "fifo_rxf_n" SITE "N13"; IOBUF PORT "fifo_rxf_n" IO_TYPE=LVCMOS33;
LOCATE COMP "fifo_txe_n" SITE "P13"; IOBUF PORT "fifo_txe_n" IO_TYPE=LVCMOS33;
LOCATE COMP "fifo_rd_n" SITE "N12"; IOBUF PORT "fifo_rd_n" IO_TYPE=LVCMOS33;
LOCATE COMP "fifo_wr_n" SITE "P12"; IOBUF PORT "fifo_wr_n" IO_TYPE=LVCMOS33;
LOCATE COMP "fifo_siwu" SITE "P11"; IOBUF PORT "fifo_siwu" IO_TYPE=LVCMOS33;
LOCATE COMP "fifo_clkout" SITE "L13"; IOBUF PORT "fifo_clkout" IO_TYPE=LVCMOS33;
LOCATE COMP "fifo_oe_n" SITE "N11"; IOBUF PORT "fifo_oe_n" IO_TYPE=LVCMOS33;

LOCATE COMP "usb_pwren_n" SITE "T6"; IOBUF PORT "usb_pwren_n" IO_TYPE=LVCMOS33;
LOCATE COMP "usb_suspend_n" SITE "R7"; IOBUF PORT "usb_suspend_n" IO_TYPE=LVCMOS33;

LOCATE COMP "xin" SITE "C9"; IOBUF PORT "xin" IO_TYPE=LVCMOS33;
LOCATE COMP "tp1" SITE "C9"; IOBUF PORT "tp1" IO_TYPE=LVCMOS33;

LOCATE COMP "ppu1_reset_n" SITE "E9"; IOBUF PORT "ppu1_reset_n" IO_TYPE=LVCMOS33;
LOCATE COMP "ppu2_reset_n" SITE "D8"; IOBUF PORT "ppu2_reset_n" IO_TYPE=LVCMOS33;
LOCATE COMP "ppu2_resout0_n" SITE "B3"; IOBUF PORT "ppu2_resout0_n" IO_TYPE=LVCMOS33;
LOCATE COMP "ppu2_resout1_n" SITE "B2"; IOBUF PORT "ppu2_resout1_n" IO_TYPE=LVCMOS33;

LOCATE COMP "burst_n" SITE "B1"; IOBUF PORT "burst_n" IO_TYPE=LVCMOS33;
LOCATE COMP "csync_n" SITE "C2"; IOBUF PORT "csync_n" IO_TYPE=LVCMOS33;
LOCATE COMP "ppu2_hblank" SITE "C6"; IOBUF PORT "ppu2_hblank" IO_TYPE=LVCMOS33;
LOCATE COMP "ppu2_vblank" SITE "E7"; IOBUF PORT "ppu2_vblank" IO_TYPE=LVCMOS33;

LOCATE COMP "pard_n" SITE "D9"; IOBUF PORT "pard_n" IO_TYPE=LVCMOS33;
LOCATE COMP "pawr_n" SITE "C10"; IOBUF PORT "pawr_n" IO_TYPE=LVCMOS33;
LOCATE COMP "lvl_pa_dir" SITE "E1"; IOBUF PORT "lvl_pa_dir" IO_TYPE=LVCMOS33;
LOCATE COMP "pa[0]" SITE "E2"; IOBUF PORT "pa[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "pa[1]" SITE "F1"; IOBUF PORT "pa[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "pa[2]" SITE "F2"; IOBUF PORT "pa[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "pa[3]" SITE "G1"; IOBUF PORT "pa[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "pa[4]" SITE "G2"; IOBUF PORT "pa[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "pa[5]" SITE "H2"; IOBUF PORT "pa[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "pa[6]" SITE "J1"; IOBUF PORT "pa[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "pa[7]" SITE "J2"; IOBUF PORT "pa[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "lvl_pd_dir" SITE "D6"; IOBUF PORT "lvl_pd_dir" IO_TYPE=LVCMOS33;
LOCATE COMP "pd[0]" SITE "C5"; IOBUF PORT "pd[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "pd[1]" SITE "D5"; IOBUF PORT "pd[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "pd[2]" SITE "C4"; IOBUF PORT "pd[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "pd[3]" SITE "D4"; IOBUF PORT "pd[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "pd[4]" SITE "C3"; IOBUF PORT "pd[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "pd[5]" SITE "D3"; IOBUF PORT "pd[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "pd[6]" SITE "E5"; IOBUF PORT "pd[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "pd[7]" SITE "E4"; IOBUF PORT "pd[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "vrd_n" SITE "A11"; IOBUF PORT "vrd_n" IO_TYPE=LVCMOS33;
LOCATE COMP "vawr_n" SITE "A12"; IOBUF PORT "vawr_n" IO_TYPE=LVCMOS33;
LOCATE COMP "vbwr_n" SITE "B11"; IOBUF PORT "vbwr_n" IO_TYPE=LVCMOS33;

LOCATE COMP "lvl_va_dir" SITE "E16"; IOBUF PORT "lvl_va_dir" IO_TYPE=LVCMOS33;
LOCATE COMP "va14" SITE "M16"; IOBUF PORT "va14" IO_TYPE=LVCMOS33;
LOCATE COMP "vaa[0]" SITE "B12"; IOBUF PORT "vaa[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "vaa[1]" SITE "A13"; IOBUF PORT "vaa[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "vaa[2]" SITE "B13"; IOBUF PORT "vaa[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "vaa[3]" SITE "A14"; IOBUF PORT "vaa[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "vaa[4]" SITE "B14"; IOBUF PORT "vaa[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "vaa[5]" SITE "A15"; IOBUF PORT "vaa[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "vaa[6]" SITE "B15"; IOBUF PORT "vaa[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "vaa[7]" SITE "B16"; IOBUF PORT "vaa[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "vaa[8]" SITE "C15"; IOBUF PORT "vaa[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "vaa[9]" SITE "C16"; IOBUF PORT "vaa[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "vaa[10]" SITE "D14"; IOBUF PORT "vaa[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "vaa[11]" SITE "D16"; IOBUF PORT "vaa[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "vaa[12]" SITE "E15"; IOBUF PORT "vaa[12]" IO_TYPE=LVCMOS33;
LOCATE COMP "vaa[13]" SITE "F15"; IOBUF PORT "vaa[13]" IO_TYPE=LVCMOS33;
LOCATE COMP "vab[0]" SITE "F16"; IOBUF PORT "vab[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "vab[1]" SITE "G15"; IOBUF PORT "vab[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "vab[2]" SITE "G16"; IOBUF PORT "vab[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "vab[3]" SITE "H14"; IOBUF PORT "vab[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "vab[4]" SITE "H15"; IOBUF PORT "vab[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "vab[5]" SITE "J16"; IOBUF PORT "vab[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "vab[6]" SITE "J15"; IOBUF PORT "vab[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "vab[7]" SITE "K16"; IOBUF PORT "vab[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "vab[8]" SITE "K15"; IOBUF PORT "vab[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "vab[9]" SITE "L16"; IOBUF PORT "vab[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "vab[10]" SITE "L15"; IOBUF PORT "vab[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "vab[11]" SITE "P14"; IOBUF PORT "vab[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "vab[12]" SITE "N16"; IOBUF PORT "vab[12]" IO_TYPE=LVCMOS33;
LOCATE COMP "vab[13]" SITE "M15"; IOBUF PORT "vab[13]" IO_TYPE=LVCMOS33;

LOCATE COMP "lvl_vd_dir" SITE "M13"; IOBUF PORT "lvl_vd_dir" IO_TYPE=LVCMOS33;
LOCATE COMP "vda[0]" SITE "N14"; IOBUF PORT "vda[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "vda[1]" SITE "M14"; IOBUF PORT "vda[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "vda[2]" SITE "L12"; IOBUF PORT "vda[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "vda[3]" SITE "L14"; IOBUF PORT "vda[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "vda[4]" SITE "K12"; IOBUF PORT "vda[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "vda[5]" SITE "K14"; IOBUF PORT "vda[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "vda[6]" SITE "K13"; IOBUF PORT "vda[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "vda[7]" SITE "J14"; IOBUF PORT "vda[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "vdb[0]" SITE "J13"; IOBUF PORT "vdb[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "vdb[1]" SITE "H13"; IOBUF PORT "vdb[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "vdb[2]" SITE "F14"; IOBUF PORT "vdb[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "vdb[3]" SITE "F12"; IOBUF PORT "vdb[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "vdb[4]" SITE "E14"; IOBUF PORT "vdb[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "vdb[5]" SITE "F13"; IOBUF PORT "vdb[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "vdb[6]" SITE "E13"; IOBUF PORT "vdb[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "vdb[7]" SITE "D13"; IOBUF PORT "vdb[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "field" SITE "A9"; IOBUF PORT "field" IO_TYPE=LVCMOS33;
LOCATE COMP "over_n" SITE "C8"; IOBUF PORT "over_n" IO_TYPE=LVCMOS33;
LOCATE COMP "ppu_5m" SITE "A8"; IOBUF PORT "ppu_5m" IO_TYPE=LVCMOS33;
LOCATE COMP "hcld_n" SITE "B9"; IOBUF PORT "hcld_n" IO_TYPE=LVCMOS33;
LOCATE COMP "vcld_n" SITE "A10"; IOBUF PORT "vcld_n" IO_TYPE=LVCMOS33;
LOCATE COMP "color[0]" SITE "B10"; IOBUF PORT "color[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "color[1]" SITE "A3"; IOBUF PORT "color[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "color[2]" SITE "B4"; IOBUF PORT "color[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "prio[0]" SITE "A4"; IOBUF PORT "prio[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "prio[1]" SITE "B5"; IOBUF PORT "prio[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "chr[0]" SITE "A5"; IOBUF PORT "chr[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "chr[1]" SITE "B6"; IOBUF PORT "chr[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "chr[2]" SITE "A6"; IOBUF PORT "chr[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "chr[3]" SITE "B7"; IOBUF PORT "chr[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "lvl_tst_dir" SITE "F3"; IOBUF PORT "lvl_tst_dir" IO_TYPE=LVCMOS33;
LOCATE COMP "lvl_tst_oe" SITE "F5"; IOBUF PORT "lvl_tst_oe" IO_TYPE=LVCMOS33;
LOCATE COMP "ppu2_tst15" SITE "D7"; IOBUF PORT "ppu2_tst15" IO_TYPE=LVCMOS33;
LOCATE COMP "ppu2_tst[0]" SITE "J4"; IOBUF PORT "ppu2_tst[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "ppu2_tst[1]" SITE "K3"; IOBUF PORT "ppu2_tst[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "ppu2_tst[2]" SITE "L4"; IOBUF PORT "ppu2_tst[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "ppu2_tst[3]" SITE "L3"; IOBUF PORT "ppu2_tst[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "ppu2_tst[4]" SITE "L5"; IOBUF PORT "ppu2_tst[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "ppu2_tst[5]" SITE "M4"; IOBUF PORT "ppu2_tst[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "ppu2_tst[6]" SITE "M5"; IOBUF PORT "ppu2_tst[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "ppu2_tst[7]" SITE "P3"; IOBUF PORT "ppu2_tst[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "ppu2_tst[8]" SITE "J3"; IOBUF PORT "ppu2_tst[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "ppu2_tst[9]" SITE "H5"; IOBUF PORT "ppu2_tst[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "ppu2_tst[10]" SITE "H4"; IOBUF PORT "ppu2_tst[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "ppu2_tst[11]" SITE "H3"; IOBUF PORT "ppu2_tst[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "ppu2_tst[12]" SITE "G4"; IOBUF PORT "ppu2_tst[12]" IO_TYPE=LVCMOS33;
LOCATE COMP "ppu2_tst[13]" SITE "G3"; IOBUF PORT "ppu2_tst[13]" IO_TYPE=LVCMOS33;
LOCATE COMP "ppu2_tst[14]" SITE "F4"; IOBUF PORT "ppu2_tst[14]" IO_TYPE=LVCMOS33;

LOCATE COMP "ppu1_extsync_n" SITE "C12"; IOBUF PORT "ppu1_extsync_n" IO_TYPE=LVCMOS33;
LOCATE COMP "ppu1_hvcmode" SITE "D10"; IOBUF PORT "ppu1_hvcmode" IO_TYPE=LVCMOS33;
LOCATE COMP "ppu1_master_n" SITE "E11"; IOBUF PORT "ppu1_master_n" IO_TYPE=LVCMOS33;
LOCATE COMP "ppu1_palmode" SITE "C11"; IOBUF PORT "ppu1_palmode" IO_TYPE=LVCMOS33;

LOCATE COMP "ppu2_3p58m" SITE "B8"; IOBUF PORT "ppu2_3p58m" IO_TYPE=LVCMOS33;
LOCATE COMP "ppu2_ped_n" SITE "A7"; IOBUF PORT "ppu2_ped_n" IO_TYPE=LVCMOS33;

LOCATE COMP "ppu2_5mout_n" SITE "C7"; IOBUF PORT "ppu2_5mout_n" IO_TYPE=LVCMOS33;
LOCATE COMP "ppu2_extlatch" SITE "D11"; IOBUF PORT "ppu2_extlatch" IO_TYPE=LVCMOS33;
LOCATE COMP "ppu2_hvcmode" SITE "E6"; IOBUF PORT "ppu2_hvcmode" IO_TYPE=LVCMOS33;
LOCATE COMP "ppu2_palmode" SITE "E8"; IOBUF PORT "ppu2_palmode" IO_TYPE=LVCMOS33;
LOCATE COMP "ppu2_toumei_n" SITE "A2"; IOBUF PORT "ppu2_toumei_n" IO_TYPE=LVCMOS33;

LOCATE COMP "extra1" SITE "C1"; IOBUF PORT "extra1" IO_TYPE=LVCMOS33;
LOCATE COMP "extra2" SITE "D1"; IOBUF PORT "extra2" IO_TYPE=LVCMOS33;
LOCATE COMP "extra3" SITE "E3"; IOBUF PORT "extra3" IO_TYPE=LVCMOS33;

LOCATE COMP "tp7" SITE "C1"; IOBUF PORT "extra1" IO_TYPE=LVCMOS33;
LOCATE COMP "tp8" SITE "D1"; IOBUF PORT "extra2" IO_TYPE=LVCMOS33;
LOCATE COMP "tp9" SITE "E3"; IOBUF PORT "extra3" IO_TYPE=LVCMOS33;

LOCATE COMP "bodge1" SITE "D12"; IOBUF PORT "bodge1" IO_TYPE=LVCMOS33;
LOCATE COMP "bodge2" SITE "C14"; IOBUF PORT "bodge2" IO_TYPE=LVCMOS33;
LOCATE COMP "bodge3" SITE "C13"; IOBUF PORT "bodge3" IO_TYPE=LVCMOS33;

LOCATE COMP "analog_clk" SITE "K1"; IOBUF PORT "analog_clk" IO_TYPE=LVCMOS33;
LOCATE COMP "analog_r_oe" SITE "M8"; IOBUF PORT "analog_r_oe" IO_TYPE=LVCMOS33;
LOCATE COMP "analog_r[0]" SITE "P8"; IOBUF PORT "analog_r[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "analog_r[1]" SITE "N7"; IOBUF PORT "analog_r[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "analog_r[2]" SITE "P7"; IOBUF PORT "analog_r[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "analog_r[3]" SITE "N6"; IOBUF PORT "analog_r[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "analog_r[4]" SITE "P5"; IOBUF PORT "analog_r[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "analog_r[5]" SITE "N5"; IOBUF PORT "analog_r[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "analog_r[6]" SITE "P4"; IOBUF PORT "analog_r[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "analog_r[7]" SITE "N4"; IOBUF PORT "analog_r[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "analog_g_oe" SITE "R6"; IOBUF PORT "analog_g_oe" IO_TYPE=LVCMOS33;
LOCATE COMP "analog_g[0]" SITE "R5"; IOBUF PORT "analog_g[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "analog_g[1]" SITE "T4"; IOBUF PORT "analog_g[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "analog_g[2]" SITE "R4"; IOBUF PORT "analog_g[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "analog_g[3]" SITE "T3"; IOBUF PORT "analog_g[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "analog_g[4]" SITE "R3"; IOBUF PORT "analog_g[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "analog_g[5]" SITE "T2"; IOBUF PORT "analog_g[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "analog_g[6]" SITE "R2"; IOBUF PORT "analog_g[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "analog_g[7]" SITE "R1"; IOBUF PORT "analog_g[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "analog_b_oe" SITE "P2"; IOBUF PORT "analog_b_oe" IO_TYPE=LVCMOS33;
LOCATE COMP "analog_b[0]" SITE "P1"; IOBUF PORT "analog_b[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "analog_b[1]" SITE "N3"; IOBUF PORT "analog_b[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "analog_b[2]" SITE "N1"; IOBUF PORT "analog_b[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "analog_b[3]" SITE "M2"; IOBUF PORT "analog_b[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "analog_b[4]" SITE "M1"; IOBUF PORT "analog_b[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "analog_b[5]" SITE "L2"; IOBUF PORT "analog_b[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "analog_b[6]" SITE "L1"; IOBUF PORT "analog_b[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "analog_b[7]" SITE "K2"; IOBUF PORT "analog_b[7]" IO_TYPE=LVCMOS33;
